.company{
    height: 800px;
}

.company-wrapper{
    padding: 80px 0;
}


.comp-bg-image:hover{
    animation: rotate 2s 0.3s;
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(-200deg);
    }
    100%{
        opacity: 1;
        transform: translateZ(0);
    }
    
}
img.grow-image-1 {
    bottom: 30%;
    animation: mover 2s infinite  alternate;;
}

img.grow-image-2 {
    left: 40%;
    bottom: -20%;
    animation: mover 2s infinite  alternate;
}

h3.company-heading {
    font-size: 3.375rem;
    color: var(--primary-color);
    padding-bottom: 10px;
}
p.company-bottom-para {
    font-size: 1.125rem;
    color: var(--text-color);
    padding: 10px 0;
}

div.comp-card {
    display: flex;
    margin: 40px 0;
    gap: 25px;
}
h4.comp-card-heading {
    font-size: 1.5rem;
    color: var(--primary-color);
}
p.comp-card-para {
    font-size: 1.125rem;
    color: var(--text-color);
    padding: 5px 0;
    line-height: 30px;
}
img.comp-card-image {
    max-width: 100%;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
}

/* #card-image-1{
    background-color: var(--main-color);
}
#card-image-2{
    background-color: var(--secondary-color);
} */